version: "3.8"

services:
  mongo:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: mean-backend
    ports:
      - "8080:8080"
    environment:
      MONGO_URL: mongodb://mongo:27017/tutorialsdb
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: mean-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  mongo_data:
